<!DOCTYPE html>
<html class="h-full">
  <head>
    <title><%= content_for(:title) || "Dummy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <script src="https://cdn.tailwindcss.com"></script>
  </head>

  <body class="h-full" data-controller="dialog">
    <div class="min-h-full">
      <main class="mx-auto max-w-4xl px-4 sm:px-6 lg:px-8 py-10">
        <%= yield %>
      </main>
    </div>
  </body>
</html>
