<!DOCTYPE html>
<html>
<head>
  <title>Rosetta</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= yield :head %>

  <%= stylesheet_link_tag    "rosetta/application", media: "all" %>
  <%= javascript_include_tag "rosetta/application", defer: true %>
</head>
<body>

<%= yield %>

</body>
</html>
