<%= turbo_frame_tag dom_id(@text_entry) do %>
  <%= form_with model: @text_entry, url: text_entry_translation_path(@text_entry), method: :patch, class: "relative" do |f| %>
    <%= hidden_field_tag :locale_id, @locale.id %>

    <div class="overflow-hidden rounded-lg shadow-sm ring-1 ring-inset ring-gray-300 focus-within:ring-2 focus-within:ring-indigo-600">
      <%= f.label :"content_#{@locale.code}", "Translation", class: "sr-only" %>
      <%= f.text_area :"content_#{@locale.code}", row: 3, autofocus: true, placeholder: "Enter your translation", class: "block w-full resize-none border-0 bg-transparent py-1.5 text-gray-900 placeholder:text-gray-400 focus:ring-0 sm:text-sm sm:leading-6" %>

      <div class="py-2" aria-hidden="true">
        <div class="py-px">
          <div class="h-9"></div>
        </div>
      </div>
    </div>

    <div class="absolute inset-x-0 bottom-0 flex justify-end gap-2 py-2 pl-3 pr-2">
      <%= link_to "Discard", locale_translations_path(@locale), class: "btn btn-secondary" %>
      <%= f.submit "Save", class: "inline btn btn-primary" %>
    </div>
  <% end %>
<% end %>
